@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TestApp.Models.Api
@model IEnumerable<ProjectModel>

<div class="row">
    <div class="col-md-8 center-col">
        <a class="pull-right" href="New">Add</a>
    </div>
</div>

<div class="row">
    <div class="col-md-8 center-col">
        <table class="table table-hover center-col">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProjectModel project in Model)
                {
                    //Format the row with DANGER class if the Deadline is within 7 days or less
                    //Confusing razor statement sorry - http://stackoverflow.com/questions/15700741/how-to-add-a-second-css-class-with-a-conditional-value-in-razor-mvc-4
                    <tr class="@((project.Deadline - DateTime.Now) < TimeSpan.FromDays(7) ? "danger" : "")">
                        <td>@project.Title</td>
                        <td>@project.Description</td>
                        <td>
                            @project.Deadline.ToString("MMMM dd yyyy")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>