@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using TestApp.Models.Api.User
@model ConfirmUserModel

@{
    ViewData["Title"] = "Account Info";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-8">
        @if(Model.Confirmed)
        {
            <div class="alert alert-success"><strong>Email has been confirmed! Now let's get to <a href="/">coding...</a></strong></div>
        }
        else
        {
            <div class="alert alert-danger"><strong>There was an issue confirming your email! Please try the link again or press <a>here to resend a verification email</a></strong></div>
        }
    </div>
</div>