@{
    ViewData["Title"] = "WeeklyDev IO";
}

<div class="col-md-8 center-col">
    <h2>Welcome to your dashboard</h2>
    @Context.User.Identity.Name
</div>

<div class="col-md-8 center-col">
    <h3>Teams</h3>
</div>

<div class="col-md-8 center-col">
    <h3>Projects</h3>
</div>