@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using TestApp.Models.Api.User
@model PasswordChangeUserModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="row">
    <div class="col-md-8 center-col">
        <section>
            <h2>@ViewData["Title"]</h2>
            <form asp-controller="Account" asp-action="PasswordChange" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>Enter the following information:</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PasswordOld" class="col-md-2 control-label">Current Password:</label>
                    <div class="col-md-10">
                        <input asp-for="PasswordOld" class="form-control" />
                        <span asp-validation-for="PasswordOld" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordNew" class="col-md-2 control-label">New Password:</label>
                    <div class="col-md-10">
                        <input asp-for="PasswordNew" class="form-control" />
                        <span asp-validation-for="PasswordNew" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
                </p>
            </form>
        </section>
    </div>
</div>