@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TestApp.Models.Api
@model IEnumerable<TeamModel>

<div class="row">
    <div class="col-md-4 pull-right">
        <a class="pull-right" href="New">Add</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Deadline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TeamModel project in Model)
        {

        }
    </tbody>
</table>