@{
    ViewData["Title"] = "WeeklyDev IO";
}

<div class="row home-secondary">
    <div class="center-col center-text">
        <img src="~/images/home/laptop.png" />
    </div>
    <div class="center-col center-text">
        <p class="font-l">Explore!</p>
    </div>
</div>

<div class="row home-primary">

</div>

<h1>HOME</h1>

@if (Context.User.Identity.IsAuthenticated)
{
    <p>Welcome @Context.User.Identity.Name</p>
}