@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TestApp.Models.Api
@model IEnumerable<ProjectModel>

<div class="row">
    <div class="col-md-8 center-col">
        <a class="pull-right" href="New">Add</a>
    </div>
</div>

<div class="row">
    <div class="col-md-10 center-col">
        @foreach (ProjectModel project in Model)
        {
            @await Html.PartialAsync("PartialProject", project);
        }
    </div>
</div>