@model TestApp.Models.UserModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="user-icon">
    <img alt="@Model.Username"
         data-toggle="tooltip" data-placement="top" title="@Model.Username"
          src="~/images/user/default.jpg" />
</div>