$background-color: #F7F7F7;
$background-second-color: darken($background-color, 5);

$base-fontsize: 16px;

$base-font: 1em;
$font-l: $base-font * 3;
$font-ml: $base-font * 2.5;
$font-m: $base-font * 2;
$font-ms: $base-font * 1,5;
$font-s: $base-font * 1;
$font-xs: $base-font * .75;